main section {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    form{
        width: 90%;
        text-align: center;

        input {
            margin-bottom: 100px;
            padding: 20px;
            width: 80%;
            border: 2px solid var(--primary-color-light);
            border-radius: 10px;
        }
    } 

    .players{
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 90%;

        .player { text-align: center; }
    }
}