main section {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    form{
        width: 90%;
        text-align: center;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input {
            padding: 20px;
            width: 80%;
            border: 2px solid var(--primary-color-light);
            border-radius: 10px;
        }
        
        .button {
            margin-top: 20px;
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .button button {
            background-color: transparent;
            border: 2px solid var(--primary-color-light);
            border-radius: 10px;
            padding: 15px;
            font-size: 1.1em;
            cursor: pointer;
            font-weight: 600;
        }
    } 

    .players{
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 90%;

        .player { 
            width: 15%;
            text-align: center; 
            cursor: pointer;
        }

        .player img {
            width: 100%;
        }
    }
}