main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 30%;

        i { font-size: 10em; }

        input {
            width: 100%;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 20px;
            border: 2px solid var(--primary-color-light);
        }

        button {
            width: 100%;
            font-size: 1em;
            padding: 20px;
            background: transparent;
            border-radius: 15px;
            border: 2px solid var(--primary-color-light);
            cursor: pointer;
        }
    }
}