main section{
    display: flex;
    align-items: center;
    flex-direction: column;

    .red { color: red; }

    p.error {
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .player_info {
        width: 90%;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .player { 
            width: 30%; 
            display: flex;
            flex-direction: column;
        }
        .information { width: 65%; }

        .player .img{
            width: 90%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--primary-color-light);
            border-radius: 20px;
            margin-bottom: 20px;
            img {
                position: relative;
                object-fit: contain;
                width: 100%;
            }
        }

        .player .description {
            border: 2px solid var(--primary-color-light);
            border-radius: 20px;
            padding: 15px;
            width: 90%;
            p { 
                text-align: left; 
                font-size: 1.2em;
            }

            .bold {
                font-weight: 600;
            }
        }

        .information .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid var(--primary-color-light);
            padding: 0 10px 0 10px;
            margin-bottom: 20px;
            font-size: 1.5em;
            
            button {
                width: 50px;
                aspect-ratio: 1/1;
                background-color: transparent;
                border: 2px solid var(--primary-color-light);
                border-radius: 20px;
                cursor: pointer;

                i {
                    font-size: 2em;
                }
            }
        }

        .information .data {
            .biography p {
                font-size: 1.3em;
                text-align: justify;
            }

            .statistic {
                margin-top: 20px;

                h2 {
                    border-bottom: 2px solid var(--primary-color-light);
                    padding: 0 10px 0 10px;
                    margin-bottom: 20px;
                    font-size: 2em;
                }

                table{
                    width: 100%;
                }

                table th {
                    border: 2px solid var(--primary-color-light);
                    padding: 15px;
                    font-size: 1.2em;
                }
            }
            
        }
    }
}
