main {
    section {
        padding-bottom: 20px;
        p {
            text-align: center;
            font-size: 1.3em;
        }

        .result {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 0 20px 0 20px;

            .player {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                border: 2px solid var(--primary-color-light);
                cursor: pointer;
                border-radius: 20px;

                img {
                    width: 80%;
                }

                p {
                    font-size: 1.5em;
                    margin: 0;
                    font-weight: 600;
                    padding: 5px;
                }
            }

            .player:hover {
                transform: scale(101%);
            }
        }
    }
}